* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  height: 100vh;
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
}

.calculator {
  .display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin-bottom: 20px;

    h6 {
      font-size: 1.5rem;
      font-weight: 600;
      word-wrap: break-word;
      text-align: center;
      padding: 10px;
    }
  }

  .calc-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    .num-btn {
      padding: 10px;
      font-size: 30px;
      background-color: #ddd;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 50%;
      }
    }

    .cancel {
      grid-column: span 2;
      background-color: rgb(231, 124, 124);
    }

    .equals,
    .zero {
      grid-column: span 2;
    }
  }
}

// TODO: stylise more, add animations to clicks

.noughts-and-crosses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  .status {
    font-weight: 600;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .scoreboard {
    font-weight: 600;
    font-size: 25px;
  }

  .effect-container {
    position: relative;
    overflow: hidden;

    --effect-name: ripple;
    --effect-duration: 1000ms;
    --effect-top: 0px;
    --effect-left: 0px;
    --effect-height: 100px;
    --effect-width: 100px;
    --effect-color: white;

    &::before {
      content: "";
      position: absolute;
      opacity: 0.3;
      pointer-events: none;

      top: var(--effect-top);
      left: var(--effect-left);
      height: var(--effect-height);
      width: var(--effect-width);
      border-radius: 50%;
      transform: scale(0);
      background: var(--effect-color);
    }

    &.active::before {
      border-radius: 50%;
      animation: ripple var(--effect-duration) linear forwards;
    }

    @keyframes ripple {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(6);
        opacity: 0;
      }
    }
  }

  .btn-container {
    display: block;
    width: 200px;
    margin: 10px auto;
    position: relative;
  }

  .reset-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: none;
    border-radius: 40px;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    color: white;
    background: linear-gradient(90deg, #bd5d19, #fa566f);
    &:hover {
      box-shadow: 0 8px 10px inset rgba(0, 0, 0, 0.15);
    }
  }

  .ai-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: none;
    border-radius: 40px;
    padding: 20px;
    font-size: 20px;
    color: white;
    background: linear-gradient(90deg, #9383c5, #56e3fa);
    &:hover {
      box-shadow: 0 8px 10px inset rgba(0, 0, 0, 0.15);
    }
  }

  .board {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    margin-top: 20px;
    max-width: 300px;

    .cell {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      background-color: #f0f0f0;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
